.modal {
  padding-block: var(--mantine-spacing-md);
}

.confirmText {
  text-align: center;
  font-size: 110%;
  margin-bottom: 2rem;
}

.actions {
  width: 100%;
  @include flex-row-justify-between;
  gap: 0.5rem;
}
