.ApiError {
  max-width: 100%;
  @include flex-column;
  gap: var(--mantine-spacing-md);

  &.page {
    @include info-page;
  }

  &.page .actions {
    @include info-page-actions;
  }
}

.details {
  max-width: 100%;
  text-align: left;
}

pre {
  @include pre-overflow;
}