header {
  //min-height: 80px;
  //margin-bottom: var(--mantine-spacing-md);
  //@include flex-row-justify-between;
  //align-items: center;
  //padding-inline: var(--mantine-spacing-md);
  ////background-color: white;
  //
  //position: sticky;
  //top: 0;
  //z-index: 1;
}

.brand {
  font-size: 150%;
  font-weight: 700;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;

  //@include larger-than($mantine-breakpoint-md) {
  //  margin-right: 2rem;
  //}
}