.layout {
    min-height: 100vh;
    background-color: red; /* TODO */
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.body {
    flex-grow: 1;
    background-color: green;

    display: flex;
    flex-direction: column;

    .page {
        background-color: red;
        flex: 1;
        /*padding-inline*/
    }

    .footer {
        flex-grow: 0;
        flex-shrink: 0;
    }
}