// these are global styles applied to the whole project
// when adding actual styles for e.g. forms, choose meaningful class
// names which will not override or clash with existing styles

:root {
  // give items room to breathe by default, but push them together
  // on smaller screens
  --default-padding: var(--mantine-spacing-md);
  @media (min-width: $mantine-breakpoint-sm) {
    --default-padding: var(--mantine-spacing-xl);
  }
}

html,
body {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

a {
  // remove default link styling
  color: var(--mantine-color-text);
  text-decoration: none;
}

.full-page-info {
  padding-block: 4rem;
  height: 100%;
  text-align: center;
  @include flex-column;

  .actions {
    margin-top: 2rem;
  }
}

.form {
  @include flex-column;
  gap: var(--mantine-spacing-md);

  .footer {
    @include flex-row-justify-between-wrapping;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

    .result {
      max-width: 100%;
    }

    .actions {
      @include flex-row-actions;
    }
  }
}
