.layout {
  min-height: 100vh;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  @include flex-column;
}

.header {
  flex-shrink: 0;
}

.body {
  flex-grow: 1;
  @include flex-column;
}
.page {
  flex-grow: 1;
  padding-inline: var(--mantine-spacing-md);
}
.footer {
  flex-grow: 0;
  flex-shrink: 0;

  @include flex-row;
  justify-content: flex-end;
  padding: var(--mantine-spacing-md);

  .actions {
    @include flex-row;
    align-items: center;
    gap: var(--mantine-spacing-md);
  }
}